<div class="container-fluid">
  <!-- Second navbar for categories -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand">La Guarida 🐺</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/app-primer-piso" routerLinkActive="active">Confirmar Reserva</a></li>
          <li><a routerLink="/app-disponible" routerLinkActive="active">Salones Disponibles</a></li>
          <li><a routerLink="/app-crear-reserva" routerLinkActive="active">Crear Reserva</a></li>
          <li><a routerLink="">Desconectarse</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<label class="admin">Administrador: {{admin}}</label>
<h2 style="padding-left: 15px;">Salones Disponibles</h2>

<br>
<form style="padding: 15px;">
  <label>Busque por fecha</label>
  <input type="date" name="dateDesired" [(ngModel)]="dateDesired">
  <button class="btn btn-sm btn-default" (click)="search()">Buscar</button>
</form>


<table class="table table-bordered" align="center">
  <tr>
    <th>Salon</th>
    <th>Piso</th>
    <th>Contenido</th>
    <th>Hora disponible</th>
    <th>Crear Reserva</th>
  </tr>
  <tr *ngFor="let res of available">
    <td>
      {{res.salon}}
    </td>
    <td>
      {{res.piso}}
    </td>
    <td>
      {{res.content}}
    </td>
    <td>
      {{res.timeAvailable}}
    </td>
    <td>
      <button class="btn btn-primary" routerLink="/app-crear-reserva" routerLinkActive="active">{{res.Status}}</button>
    </td>
  </tr>
</table>