<h2>La Guarida 🐺</h2>

<form>
  <form action="">
  <div class="imgcontainer">
    <img src="images/UPRA_seal.png" alt="UPRA" class="avatar">
  </div>

  <div class="container">
    <label><b>Nombre de usario</b></label>
    <input type="text" placeholder="Entre el nombre de usario" name="uname"[(ngModel)]="enteredUser" id="enteredUser" required>

    <label><b>Contraseña</b></label>
    <input type="password" placeholder="Entre la contraseña" name="psw" [(ngModel)]="enteredPass" id="enteredPass" required>
        
    <button class="btn btn-primary" (click)="checkInfo()" routerLink="{{link}}" routerLinkActive="{{activeLink}}">Conectarse</button>
  </div>
</form>